In [1]:
# Experiment on Thyroid dataset
# https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data


import pandas as pd

In [6]:
def load_thyroid()-> pd.DataFrame:
    URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data"
    df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data", header=None)
    return df

load_thyroid().head()

   0    1     2    3    4    5
0  1  107  10.1  2.2  0.9  2.7
1  1  113   9.9  3.1  2.0  5.9
2  1  127  12.9  2.4  1.4  0.6
3  1  109   5.3  1.6  1.4  1.5
4  1  105   7.3  1.5  1.5 -0.1